.sg-palette {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.sg-palette li {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  border-radius: 50%;
}

.sg-palette li::before {
  content: attr(data-name) " " attr(data-value);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  font-size: 15px;
  text-align: center;
  font-family: monospace;
}

.sg-icons__list {
  display: flex;
  flex-wrap: wrap;
}

.sg-icons__item {
  flex: 0 1 120px;
  padding: 10px;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #d4d5d6;
  text-align: center;
  border-radius: 5px;
  font-size: 40px;
}

.sg-icons__item::after {
  content: attr(data-name);
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
