block variables
include ../abstracts/functions
include ../abstracts/mixins
include ../abstracts/settings

doctype html
html(lang="en")
  head
    include meta
  body
    //- .wrapper
    include ../layout/header
    div.main(class=`${pageMainClass ? pageMainClass : ''}`)
      block content
    include ../components/seo
    include ../layout/footer
    include scripts
    block scripts
