script(src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src= URL_file('select2.full.min', baseUrlLvl, 'js'))
script(src= URL_file('swiper-bundle.min', baseUrlLvl, 'js'))
script(src= URL_file('main', baseUrlLvl, 'js'))
