extends ../base/main

block variables
  - var pageTitle = 'Main Page'

block styles

block content
  .container
    include ../components/filter
  
  .product-tile
    .product-tile__image
      img(src=URL_file('product-tile1', baseUrlLvl, 'jpg'), alt="image").product-tile__img
    h3.product-tile__name Переднiй Сальнiк Колiнвала BMW e46 n46b20a
    include ../components/tags
