extends ../base/main

block variables
  - var pageTitle = 'Main Page'

block styles
  //- link(rel='stylesheet' href= URL_file('vendors/select2base/core', baseUrlLvl))

block content
  .container
    include ../components/filter
