extends ../base/main

block variables
  - var pageTitle = 'Product'
  - var pageMainClass = 'product'

block styles

block content
  .container
    .d-flex.align-items-center.justify-content-between.justify-content-lg-start.mb-2.mb-lg-4
      a(href='/').button.button__simple.button--icon.button--small.mr-4.h-hidden-md-down #[+icon('icon-chevron-left')] Назад
      a(href='/').button.button__link.mr-2.h-hidden-lg-up #[+icon('icon-arrow-left')]
      include ../components/breadcrumbs
  
    .row
      .col-md-7.col-xl-8
        include ../components/product/product-image
        - var authorClass = 'h-hidden-md-up'
        include ../components/product/product-author
        include ../components/product/product-description

      .col-md-5.col-xl-4
        - var authorClass = 'h-hidden-xs-down'
        include ../components/product/product-author

        .h-block
          h2.h2 Iншi оголошення автора
          - var productTileCompact = true
          - var productTileCount = 3
          include ../components/product/product-tile
        
        .h-block
          h2.h2 Характеристики
          table.product-data
            each item in productData
              tr(class=item.highlight ? 'product-data--highlight' : '')
                th=item.name
                td=item.value

        .product-utility.h-block
          - var socialClass = 'social--small'
          include ../components/social

          - var infoClass = 'h-hidden-md-down'
          include ../components/product/product-info

    - var productTileSlider = true
    - var productTileCount = 8
    include ../components/product/product-tile-slider
