extends ../base/main

block variables
  - var pageTitle = 'Search Results'
  - var isSearchPage = true

block styles

block content
  .container
    .mb-2.h-hidden-lg-up
      include ../components/breadcrumbs
    include ../components/filter
    include ../components/results
