ul.footer-social
  li.footer-social__item
    a(href="https://www.instagram.com/zaphub.com.ua/" target="_blank").footer-social__link
      +icon('icon-instagram')
  li.footer-social__item
    a(href="https://t.me/joinchat/8-fx0NfMSu1mMjRi" target="_blank").footer-social__link
      +icon('icon-telegram')
