//- Main Navigation Settings
-
  var mainNav = [
    {
      link: URL_Pug_MainNav('styleguide'),
      name: 'Про сервіс'
    },
    {
      link: URL_Pug_MainNav('styleguide'),
      name: 'Блог'
    },
    {
      link: URL_Pug_MainNav('styleguide'),
      name: 'Доставка та оплата'
    }
  ]

  var secondaryNav = [
    {
      link: URL_Pug_MainNav('index'),
      name: 'Усі категорії'
    },
    {
      link: URL_Pug_MainNav('index'),
      name: 'Усі регіони'
    },
    {
      link: URL_Pug_MainNav('index'),
      name: 'Усі автомобілі'
    }
  ]

  //- FORMS START
  //- FORMS END

  //- Styleguide START
  var sgSpecialBreakpoints = [
    {
      name: 'Small devices',
      description: '(0 - <768px)'
    },
    {
      name: 'Medium devices',
      description: '(≥768px - <1024px)'
    },
    {
      name: 'Large devices',
      description: '(≥1024px)'
    }
  ]

  var sgColors = [
    {
      'blue-500': '#2f4858',
      'blue-400': '#406a85',
      'blue-300': '#537992',
      'blue-200': '#75aed6',
      'blue-100': '#dceaf3'
    },
    {
      'green-400': '#486c0c',
      'green-300': '#6fa21a',
      'green-200': '#8dc334',
      'green-100': '#cee8a3',
    },
    {
      'gray-500': '#949597',
      'gray-400': '#d4d5d6',
      'gray-300': '#dadada',
      'gray-200': '#ededed',
      'gray-100': '#f5f5f5',
    }
  ]

  var sgIconsSVG = [
        'icon-heart-solid',
        'icon-user',
        'icon-exit',
        'icon-menu',
        'icon-search',
        'icon-add',
  ]

  var sgInputFields = {
    input1: {
      group: false,
      label: 'Label',
      labelClass: false,
      class: false,
      value: '',
      placeholder: 'Placeholder',
      disabled: false,
      copyInput: false
    },
    input2: {
      group: false,
      label: 'Input Disabled',
      labelClass: false,
      class: false,
      value: 'Value',
      placeholder: false,
      disabled: true,
      copyInput: false
    },
    input3: {
      group: true,
      label: 'Label Text',
      labelClass: false,
      class: false,
      value: '',
      placeholder: false,
      disabled: false,
      copyInput: true
    },
    input4: {
      group: true,
      label: 'Small Input',
      labelClass: false,
      class: 'input--small',
      value: '',
      placeholder: 'Placeholder',
      disabled: false,
      copyInput: true
    },
    input5: {
      group: false,
      label: 'Input Secondary',
      labelClass: false,
      class: 'input--secondary',
      value: '',
      placeholder: 'Placeholder',
      disabled: false,
      copyInput: false
    },
    input6: {
      group: true,
      label: 'Input Secondary',
      labelClass: false,
      class: 'input--secondary',
      value: 'Disabled',
      placeholder: 'Placeholder',
      disabled: true,
      copyInput: false
    },
    input7: {
      group: true,
      label: false,
      labelClass: false,
      class: false,
      value: 'Value',
      placeholder: false,
      disabled: false,
      copyInput: true
    },
    input8: {
      group: true,
      label: 'Label full width',
      labelClass: 'w-100',
      class: false,
      value: '',
      placeholder: false,
      disabled: false,
      copyInput: true
    },
  }

  var selectCategory = {
    type: 'select',
    wrapper: {
      exist: true,
      group: true,
      class: false
    },
    label: {
      exist: true,
      id: 'category',
      class: 'w-100',
      //- class: false,
      text: 'Категорія'
    },
    element: [
      {
        class: false,
        theme: false,
        size: false,
        placeholder: 'Оберіть категорію',
        allowClear: false,
        search: false,
        disabled: false,
        value: [
          'Автозвук і мультимедіа',
          'Світло',
          'Аксесуари',
          'Гаджети',
          'КПП',
          'Двигун і вихлопна система',
          'Інструменти',
          'Клімат',
          'Кузов',
          'Підвіска',
          'Рульове управління',
          'Салон',
          'Гальмівна система',
          'Трансмісія',
          'Шини і диски',
          'Електрообладнання',
          'Для ТО',
          'Інше'
        ]
      },
      {
        class: false,
        theme: false,
        size: false,
        placeholder: 'Оберіть категорію',
        allowClear: false,
        search: false,
        disabled: false,
        value: [
          'Автозвук і мультимедіа',
          'Світло',
          //- 'Аксесуари',
          //- 'Гаджети',
          //- 'КПП',
          //- 'Двигун і вихлопна система',
          //- 'Інструменти',
          //- 'Клімат',
          //- 'Кузов',
          //- 'Підвіска',
          //- 'Рульове управління',
          //- 'Салон',
          //- 'Гальмівна система',
          //- 'Трансмісія',
          //- 'Шини і диски',
          //- 'Електрообладнання',
          //- 'Для ТО',
          //- 'Інше'
        ]
      }
    ]
  }

  var sgSelectFields = {
    select1: {
      group: false,
      label: 'Select Default',
      labelClass: false,
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: false,
      disabled: false,
      copySelect: false,
      specificField: false
    },
    select2: {
      group: false,
      label: 'Select Disabled',
      labelClass: false,
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: true,
      disabled: true,
      copySelect: false,
      specificField: false
    },
    select3: {
      group: true,
      label: 'Select Default',
      labelClass: false,
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: false,
      disabled: false,
      copySelect: false,
      specificField: false
    },
    select4: {
      group: true,
      label: 'Select Default',
      labelClass: false,
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: false,
      disabled: false,
      copySelect: true,
      specificField: false
    },
    select5: {
      group: false,
      label: 'Select Search',
      labelClass: false,
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: true,
      disabled: false,
      copySelect: false,
      specificField: true
    },
    select6: {
      group: false,
      label: 'Select Search & Allow Clear',
      labelClass: false,
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: true,
      search: true,
      disabled: false,
      copySelect: false,
      specificField: true
    },
    select7: {
      group: false,
      label: 'Select Secondary',
      labelClass: false,
      class: false,
      theme: 'secondary',
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: false,
      disabled: false,
      copySelect: false,
      specificField: false
    },
    select8: {
      group: false,
      label: 'Select Secondary Disabled',
      labelClass: false,
      class: false,
      theme: 'secondary',
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: false,
      disabled: true,
      copySelect: false,
      specificField: false
    },
    select9: {
      group: false,
      label: 'Select Small',
      labelClass: false,
      class: false,
      theme: false,
      size: 'small',
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: true,
      disabled: false,
      copySelect: false,
      specificField: false
    },
    select10: {
      group: true,
      label: 'Select Small Secondary',
      labelClass: 'w-100',
      class: false,
      theme: 'secondary',
      size: 'small',
      placeholder: 'Оберіть категорію',
      allowClear: true,
      search: true,
      disabled: false,
      copySelect: true,
      specificField: false
    },
    select11: {
      group: true,
      label: false,
      labelClass: false,
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: false,
      disabled: false,
      copySelect: true,
      specificField: false
    },
    select12: {
      group: true,
      label: 'Label full width',
      labelClass: 'w-100',
      class: false,
      theme: false,
      size: false,
      placeholder: 'Оберіть категорію',
      allowClear: false,
      search: false,
      disabled: false,
      copySelect: true,
      specificField: false
    },
  }

  var sgSelectOptions = [
    'Шини та диски',
    'Гальмівна система',
    'Кузов',
    'Двигун і вихлопна система'
  ]

  var sgButtonsHelper = [
    'Default',
    'Loading',
    'Unable'
  ]

  var sgButtons = [
    {
      title: 'Base',
      text: 'Додати оголошення',
      icon: false,
      addClass: null
    },
    //- {
    //-   title: 'Base with Icon',
    //-   text: 'Додати оголошення',
    //-   icon: 'add'
    //- },
    {
      title: 'Base small & icon',
      text: 'Додати оголошення',
      icon: 'add',
      addClass: 'button--small'
    },
    {
      title: 'Base large & icon',
      text: 'Додати оголошення',
      icon: 'add',
      addClass: 'button--large'
    },
    {
      title: 'Base only icon',
      text: null,
      icon: 'search',
      addClass: ''
    },
    {
      title: 'Primary',
      text: 'Опублiкувати оголошення',
      icon: false,
      addClass: 'button__primary'
    },
    {
      title: 'Primary icon',
      text: 'Опублiкувати оголошення',
      icon: 'add',
      addClass: 'button__primary'
    },
    {
      title: 'Secondary',
      text: 'Опублiкувати оголошення',
      icon: false,
      addClass: 'button__secondary'
    },
    {
      title: 'Secondary icon',
      text: 'Опублiкувати оголошення',
      icon: 'add',
      addClass: 'button__secondary'
    },
  ]

  sgVisibility = [
    {
      class: '.h-hidden',
      small: false,
      medium: false,
      large: false
    },
    {
      class: '.h-hidden-xs-down',
      small: false,
      medium: true,
      large: true
    },
    {
      class: '.h-hidden-md-down',
      small: false,
      medium: false,
      large: true
    },
    {
      class: '.h-hidden-md-up',
      small: true,
      medium: false,
      large: false
    },
    {
      class: '.h-hidden-lg-up',
      small: true,
      medium: true,
      large: false
    }
  ]

  var sgSizing = [
    {
      class: '.w-100',
      small: true,
      medium: true,
      large: true
    },
    {
      class: '.w-100-xs-down',
      small: true,
      medium: false,
      large: false
    },
    {
      class: '.w-100-md-down',
      small: true,
      medium: true,
      large: false
    },
    {
      class: '.w-100-md-up',
      small: false,
      medium: true,
      large: true
    },
    {
      class: '.w-100-lg-up',
      small: false,
      medium: false,
      large: true
    }
  ]
  //- Styleguide END
