//- Main Navigation Settings
-
  var mainNav = [
    {
      link: URL_Pug_MainNav('index'),
      name: 'Про сервіс'
    },
    {
      link: URL_Pug_MainNav('index'),
      name: 'Блог'
    },
    {
      link: URL_Pug_MainNav('index'),
      name: 'Доставка та оплата'
    }
  ]
