// helper .h-#{class}
.h-block {
    padding: $grid-gutter-width-xs;
    margin-bottom: $grid-gutter-width-xs;
    background-color: color(white);

    @include media-breakpoint-up(lg) {
        padding: $grid-gutter-width-lg;
        margin-bottom: $grid-gutter-width-lg;
    }
}
