.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    pointer-events: none;

    &-heart {
        stroke: color(primary);
        stroke-width: 2;
        color: color(transparent);
    }
}
