h1,
.h1 {
    font-size: 20px;
    margin-bottom: 1em;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
        font-size: 30px;
    }
}

h2,
.h2 {
    font-size: 17px;
    margin-bottom: 0.8em;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
        font-size: 24px;
    }
}

h3,
.h3 {
    font-size: 12px;
    margin-bottom: 0.5em;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }
}

h4,
.h4 {
    font-size: 12px;
    margin-bottom: 0.5em;
    font-weight: 400;

    @include media-breakpoint-up(lg) {
        font-size: 18px;
    }
}

// h5,
// .h5 {
//     font-size: 16px;

//     @include media-breakpoint-up(lg) {}
// }

// h6,
// .h6 {
//     font-size: 16px;

//     @include media-breakpoint-up(lg) {}
// }
