.product-info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__item {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: rem(10);

        @include media-breakpoint-up(lg) {
            font-size: rem(14);
        }
    }

    .icon {
        font-size: 1.5em;
    }
}
