.product-tile {
    $this: 'product-tile';
    $modifierList: '.#{$this}--list';
    
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    color: color(text);
    background-color: color(white);
    
    @include media-breakpoint-up(lg) {
        padding: 15px;
        gap: 15px;
    }

    @include when-inside($modifierList) {
        flex-direction: row;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: z(above);
    }

    &__col {
        @include when-inside($modifierList) {
            max-width: 100%;
            flex-basis: 100%;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: z(above);
    }

    &__image {
        @include imageContainer;

        @include when-inside($modifierList) {
            flex: 0 0 135px;
        }
    }

    &__content {
        position: relative;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 5px;

        @include media-breakpoint-up(lg) {
            padding: 0;
        }

        @include when-inside($modifierList) {
            width: 0;
        }
    }

    &__name {
        margin-bottom: auto;

        @include when-inside($modifierList) {
            @include line-clamp(2);

            @include media-breakpoint-up(lg) {
                @include line-clamp(1);
                margin: 0 140px 0 0;
            }
        }
    }

    &__description {
        // @include line-clamp(2, $is-height: true);
        @include line-clamp(2);

        position: absolute;
        padding: 5px 0;
        margin: auto 140px auto 0;
        font-size: rem(14);
        line-height: 1.4;
        font-weight: $font-weight-light;
        visibility: hidden;

        @include when-inside($modifierList) {
            @include media-breakpoint-up(lg) {
                visibility: visible;
                position: static;
            }
        }
    }

    &__price {
        margin-top: 10px;
        font-size: rem(20);
        font-weight: $font-weight-bold;

        @include when-inside($modifierList) {

            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: rem(10);
        margin-top: 10px;

        @include media-breakpoint-up(md) {
            margin-top: 15px;
            font-size: rem(12);
        }

        @include when-inside($modifierList) {
            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
        }
    }
    
    &__location {
        margin-right: 5px;
        display: flex;
        align-items: center;
        gap: 3px;
        overflow: hidden;

        .icon {
            font-size: rem(14);
            flex-shrink: 0;
        }
    }

    &__date {
        margin-right: 5px;
        white-space: nowrap;

        &::before {
            content: '·';
            display: inline-block;
            margin-right: 5px;
            font-weight: $font-weight-bold;
        }
    }

    @include on-event {
        &::before {
            box-shadow: inset 0 0 0 2px color(gray5);
        }
    }
}
