.product-description {
    &__price {
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: $font-weight-bold;
    }

    &__content {
        font-weight: $font-weight-light;
        font-size: rem(16);
        line-height: 1.6;
        // white-space: pre-wrap;
    }
}
