.product-author {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-up(lg) {
        align-items: center;
    }

    &__image {
        @include imageContainer;

        width: 42px;
        margin-right: 10px;
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            width: 60px;
            margin-right: 20px;
        }
    }
    &__info {
        margin-right: auto;
    }

    &__name {
        margin-bottom: 5px;
        font-size: rem(17);

        @include media-breakpoint-up(lg) {
            font-size: rem(24);
        }
    }
    &__phone {
        font-size: rem(14);
        text-decoration: none;
        color: color(primary);

        @include media-breakpoint-up(lg) {
            font-size: rem(16);
        }

        @include on-event {
            color: color(primary2);
        }
    }
    &__location {
        font-size: rem(14);
        font-weight: $font-weight-light;
        display: flex;
        align-items: center;
        gap: 5px;

        .icon {
            flex-shrink: 0;
        }

        @include media-breakpoint-up(lg) {
            font-size: rem(24);
            gap: 10px;
        }
    }
}
