.btn {
    position: relative;
    display: inline-block;
    padding: .4em .8em .6em;
    font-size: 20px;
    line-height: 1;
    color: $dark;
    background-color: $grey-200;
    border: 1px solid transparent;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    
    @include on-event {
        background-color: $grey-400;
    }
}
