.button {
    $this: 'button';
    --bg-color: #{color(white)};
    --bg-color-hover: #{color(gray1)};

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    min-height: 40px;
    padding: 5px 10px;
    font-size: rem(16);
    color: color(text);
    // background-color: color(white);
    background-color: var(--bg-color);
    border: 1px solid color(primary);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    @include on-event {
        background-color: var(--bg-color-hover);
        color: color(text);
    }

    // @include on-event(focus) {
    //     // outline: 1px solid color(primary);
    // }

    &__primary {
        --bg-color: #{color(primary)};
        --bg-color-hover: #{color(primary2)};
        // background-color: var(--bg-color);
        color: color(white);

        @include on-event {
            // background-color: color(primary2);
            color: color(white);
        }
    }

    &__icon {
        font-size: rem(20);
        flex-shrink: 0;
    }

    &--loading {
        position: relative;
        // color: transparent;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 1em;
            height: 1em;
            margin: auto;
            border-radius: 50%;
            font-size: rem(20);
            border: 2px solid currentColor;
            border-top-color: transparent;
            z-index: z(above);

            animation: spinner-border 0.75s linear infinite;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            // background-color: color(white);
            background-color: var(--bg-color);
        }

        @include on-event {
            &::after {
                background-color: var(--bg-color-hover);
            }
        }

        &.#{$this}--icon {
            &::before {
                position: static;
                flex-shrink: 0;
                margin: 0;
            }

            &::after {
                display: none;
            }

            .#{$this}__icon {
                display: none;
            }
        }
    }

    &--small {
        min-height: 35px;
    }
}

@keyframes spinner-border {
    to {
        transform: rotate(1turn);
    }
}
