.filter {
    margin-bottom: 5px;
    
    @include media-breakpoint-up(lg) {
        margin-bottom: 15px;
    }

    &__row {
        gap: 0 2px;
    }

    &__cta {
        position: relative;
        width: 100%;
        min-width: 45px;
    }

    &__count {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 1px 3px 0;
        font-size: rem(10);
        line-height: 1;
        color: color(white);
        background-color: color(secondary);
        font-weight: $font-weight-bold;
    }
}

.filter-navbar {
    $this: 'filter-navbar';
    $m-opened: '--opened';
    $opened: '.#{$this}#{$m-opened}';

    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        right: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        background-color: color(white);
        z-index: z(filter-navbar);
        transform: translate3d(0, 0, 0);
        transition: transform 0.2s linear;
    
        @include when-inside($opened) {
            transform: translate3d(100%, 0, 0);
        }

        @include makeFormFieldPrimary;
    }

    &#{$m-opened} {
        @include disableScroll(md);
    }

    &__backdrop {
        @include navbarBackdrop($opened, md);

        z-index: z(filter-navbar--backdrop);
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 20px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &__title {
        font-size: rem(28);
        margin-right: 10px;
    }
    &__close {
        margin-left: auto;
        font-size: rem(14);
    }

    &__content {
        @include media-breakpoint-down(md) {
            @include scrollbar-vertical;

            padding: 0 10px;
            margin: 0 10px;
        }
    }

    &__footer {
        padding: 10px 20px 20px;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
}
