// navigation

.navigation {
    font-size: rem(16);

    &__list {
    
        @include media-breakpoint-up(md) {
            display: flex;
        }
    }

    &__item {
        margin-bottom: 20px;

        @include media-breakpoint-up(md) {
            margin: 0 20px 0 0;
        }
    }

    &__link {
        color: color(primary);
        text-decoration: none;

        @include on-event(hover) {
            color: color(primary2);
        }
    }
}
