.product-tile {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    color: color(text);
    background-color: color(white);

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__image {
        @include imageContainer;

        margin-bottom: 10px;
    }

    &__name {
        @include line-clamp(2);

        margin-bottom: auto;
    }

    &__description {
        @include line-clamp(2, $is-height: true);
        
        display: none;
        margin-top: 5px;
        font-size: rem(14);
        line-height: 1.4;
        font-weight: $font-weight-light;
    }

    &__price {
        margin-top: 15px;
        font-size: rem(20);
        font-weight: $font-weight-bold;
    }

    &__info {
        display: flex;
        align-items: center;
        font-size: rem(10);
        margin-top: 10px;

        @include media-breakpoint-up(md) {
            margin-top: 15px;
            font-size: rem(12);
        }
    }
    
    &__location {
        margin-right: 5px;

        .icon {
            font-size: rem(14);
            vertical-align: top;
        }
    }

    &__date {
        margin-right: 5px;

        &::before {
            content: '·';
            display: inline-block;
            margin-right: 5px;
            font-weight: $font-weight-bold;
        }
    }
}
