.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
     font-size: rem(20);

    @include media-breakpoint-up(lg) {
        font-size: rem(22.5);
    }

    &--small {
        font-size: rem(12);
    }

    &__title {
        font-size: rem(17);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    // &__item {}

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2em;
        height: 2em; 
        border-radius: 50%;
        color: color(white);
        background-color: color(primary);
        text-decoration: none;

        .icon {
            // font-size: 1.1em;
        }

        @include on-event {
            color: color(white);
            background-color: color(primary2);
        }
    }
}
