.tags {
    $this: 'tags';
 
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    user-select: none;

    &__item {
        padding: 2px 5px;
        border: 1px solid color(border-tag);
        font-size: rem(10);
        font-weight: $font-weight-bold;

        @include media-breakpoint-up(md) {
            padding: 5px 10px;
            font-size: rem(14);
        }

        &.m-secondary {
            background-color: color(secondary);
            border-color: color(secondary);
            color: color(white);
        }
    }

    &--large {
        .#{$this}__item {
            font-size: rem(16);
            padding: 7px 10px;
            
            @include media-breakpoint-up(lg) {
                font-size: rem(18);
                padding: 8px 20px;
            }
        }
    }
}
