.tags-list {
    &__item {
        & + & {
            margin-top: 15px;
        }
    }

    &__link {
        font-size: rem(14);
        color: color(text);
        text-decoration: none;
        font-weight: $font-weight-light;

        @include media-breakpoint-up(lg) {
            font-size: rem(16);
        }

        @include on-event {
            color: color(primary2);
        }

        &.m-current {
            font-weight: $font-weight-bold;
        }
    }
}
