button.header-navbar__toggle.header-navbar__toggle--primary.js-nav-btn.js-primary
  +icon('icon-menu')

.header-navbar__backdrop.js-nav-btn

.header-navbar.js-nav
  .header-navbar__content
    a.button.button__secondary.button--icon.w-100.button--left(href=URL_Pug_MainNav('index'))
      +icon('icon-add', 'button__icon')
      | Додати оголошення

    a(href="#").button.button--icon.button--left.w-100.mt-2
      +icon('icon-heart-solid', 'button__icon')
      | Збережені оголошення

    .navigation.my-4
        include ../navigation

    include ../language
