.header-account.dropdown.ml-lg-medium
  a.header-account__link.dropdown__head(href="#")
    +icon('icon-user')
  ul.dropdown__list
    li.dropdown__item
      a(href="#").dropdown__link Акаунт
    li.dropdown__item
      a(href="#").dropdown__link Панель керування
    li.dropdown__item
      a(href="#").dropdown__link Налаштування
    li.dropdown__item
      a(href="#").dropdown__link.m-mutted #[+icon('icon-exit', 'dropdown__icon')]Вийти
