.header-navbar.js-nav
  .header-navbar__header
    button.header-navbar__toggle.js-nav-btn
      +icon('icon-menu')
    .header-logo
      a(href='/')
        img(src=URL_file('logo', baseUrlLvl, 'svg'), alt="Zap Hub logotype")
