.dropdown.ml-lg-3
  span.header-account.dropdown__head(href=URL_Pug_MainNav('login'))
    +icon('icon-user')
  ul.dropdown__list.dropdown--left-xs.dropdown--left-md
    li.dropdown__item
      a(href=URL_Pug_MainNav('login')).dropdown__link Акаунт
    li.dropdown__item
      a(href=URL_Pug_MainNav('user')).dropdown__link Панель керування
    li.dropdown__item
      a(href='#!').dropdown__link Налаштування
    li.dropdown__item
      a(href='#!').dropdown__link.m-mutted #[+icon('icon-exit', 'dropdown__icon')]Вийти
