.header-navbar {
    $this: 'header-navbar';
    $m-opened: '--opened';
    $opened: '.#{$this}#{$m-opened}';

    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    background-color: color(white);
    z-index: z(header-navbar);
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear;

    @include when-inside($opened) {
        transform: translate3d(100%, 0, 0);
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }

    &::before {
        content: '';

        display: block;
        height: 60px;
        flex-shrink: 0;
        background-color: color(white);
    }

    &__content {
        overflow-x: visible;
        overflow-y: auto;
        padding: 20px;
    }

    &__cta {
        padding: 0 5px;
        margin-right: 5px;
        font-size: rem(18);
        background-color: color(white);
        border: none;
        z-index: z(header-navbar--above);

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &__backdrop {
        @include navbarBackdrop($opened, md);
    }

    &#{$m-opened} {
        @include disableScroll(md);
    }
}
