header.header
  .container.header__content
      .header-logo
        a(href='/')
          img(src=URL_file('logo', baseUrlLvl, 'svg'), alt="Zap Hub logotype")

      //- .header__nav
      include ../components/navigation

      a.button.button__primary(href=URL_Pug_MainNav('index')) Додати оголошення
      
      .header__utility
        .header-widhlist
          a(href="#") #[+iconSvg('icon-heart-solid')]Збережені оголошення

        .header-account.dropdown
          +iconSvg('icon-user')
          ul.dropdown__list.d-none
            li.dropdown__item Акаунт
            li.dropdown__item Панель керування
            li.dropdown__item Налаштування
            li.dropdown__item.mutted #[+iconSvg('icon-exit')]Вийти
        
        .header-lang
          a.header-lang__item.current Укр
          a.header-lang__item Рус
