header.header
  .container.header__content
    button.header-navbar__toggle.header-navbar__toggle--primary.js-nav-btn.js-primary
      +icon('icon-menu')

    .header-logo
      a(href='/')
        img(src=URL_file('logo', baseUrlLvl, 'svg'), alt="Zap Hub logotype")

    nav.navigation.mr-lg-auto
      include ../components/navigation

    a.button.button__secondary.button--icon.button--small(href=URL_Pug_MainNav('index')) #[+icon('icon-add', 'button__icon')]Додати оголошення

    a(href="#").header-widhlist.ml-lg-medium #[+icon('icon-heart-solid')]
      //- | Збережені оголошення
    
    
    include ../components/language

    include ../components/header/header-account

    include ../components/header/header-navbar
