header.header
  .container.header__content
    include ../components/header/header-navbar

    .header-logo
      a(href='/')
        img(src=URL_file('logo', baseUrlLvl, 'svg'), alt="Zap Hub logotype")

    nav.navigation.mr-lg-auto.h-hidden-md-down
      include ../components/navigation

    a.button.button__secondary.button--icon.button--small.h-hidden-md-down(href=URL_Pug_MainNav('index'))
      +icon('icon-add', 'button__icon')
      | Додати оголошення

    a(href="#").header-widhlist.ml-lg-medium.h-hidden-md-down
      +icon('icon-heart-solid')
    
    
    include ../components/header/header-account
    .ml-lg-medium.h-hidden-md-down
      include ../components/language
