header.header
  .container.header__content
      .header-logo
        a(href='/')
          img(src=URL_file('logo', baseUrlLvl, 'svg'), alt="Zap Hub logotype")

      //- .header__nav
      nav.navigation
        include ../components/navigation

      
      .header__utility
        a.button.button__secondary.button--small(href=URL_Pug_MainNav('index')) #[+iconSvg('icon-add')]Додати оголошення
        .header-widhlist
          a(href="#") #[+iconSvg('icon-heart-solid')]Збережені оголошення

        .header-account.dropdown
          +iconSvg('icon-user')
          ul.dropdown__list.d-none
            li.dropdown__item Акаунт
            li.dropdown__item Панель керування
            li.dropdown__item Налаштування
            li.dropdown__item.mutted #[+iconSvg('icon-exit')]Вийти
        
        ul.language
          li.language__item
            a(href="#").language__link.current Укр
          li.language__item
            a(href="#").language__link Рус
