.product-image
  .swiper
    .swiper-wrapper 
      .swiper-slide #[img(src=URL_file('product1', baseUrlLvl, 'jpeg'), alt="image")]
      .swiper-slide #[img(src=URL_file('product2', baseUrlLvl, 'jpeg'), alt="image")]
      .swiper-slide #[img(src=URL_file('product3', baseUrlLvl, 'jpeg'), alt="image")]
      .swiper-slide #[img(src=URL_file('product4', baseUrlLvl, 'jpeg'), alt="image")]

    .swiper-pagination 

    .swiper-button-prev 
    .swiper-button-next 

