-
  var mainImage = [
    'product1',
    'product2',
    'product3',
    'product4'
  ]

.product-image
  .swiper.js-product-image
    .swiper-wrapper
      each name in mainImage
        .swiper-slide
          .product-image__item
            img(src=URL_file(name, baseUrlLvl, 'jpeg'), alt="image")
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
