.product-description.h-block
  h1.h2 VW T5 двигатель 1.9 AXB AXC мотор Фольксваген Транспортер Т5 разборка
  .product-description__price 220 грн
  - var tagsClass = 'tags--large mb-3'
  include ../../components/tags

  .product-description__content.
    Двигатель Кентавр ДВЗ-200Б1Х представляет собой одноцилиндровый четырехтактный агрегат. Прекрасно подойдет к различной технике, например, мотоблоку, как автономный силовой мотор. Аппарат характеризуется высоким КПД, эргономичностью и простотой эксплуатации.

    Клапаны модели расположены вверху в соответствии со специальной технологии "OHV". Таким образом, производитель добился сокращения расхода бензина на четверть. Объем бензинового бака – 3,6 л, емкость картера для масла – 0,6 л. При работе расходует 380 гр/кВт*ч бензина. 

    В процессе работы машину охлаждает принудительно циркулируемый воздух. Отличительной особенностью рассматриваемой модели от предыдущих в этой линейке является наличие понижающего редуктора. Он позволяет сократить обороты до 1800 об./мин. Двигатель Кентавр ДВЗ-200Б1Х запускается вручную и развивает мощность 6,5 л. с. Имеет выходной шпоночный вал, диаметр которого 20 мм. Длина шпонки 50 мм.

    От грязи, пыли и различных ненужных частиц камеру сгорания эффективно защищает масляно-воздушный фильтр. Также для контроля установлен специальный датчик уровня масла.

    Размеры двигателя Кентавр ДВЗ-200Б1Х - 400x385x370 мм, вес – 17 кг.
  
  - var infoClass = 'h-hidden-lg-up mt-2'
  include product-info
