mixin product-tile(product)
  .product-tile
    a(href=URL_Pug_MainNav('product')).product-tile__link
    .product-tile__image
      img(src=URL_file(product.image, baseUrlLvl, 'jpg'), alt="image")

    .product-tile__content
      h3.h3.product-tile__name=product.name
      - var tagsClass = 'mt-2'
      include ../tags
      .product-tile__description=product.description
      .product-tile__price 220 грн
      .product-tile__info
        .product-tile__location #[+icon('icon-location')] Київ
        time.product-tile__date 24.05.2020
        - var wishlistCtaClass = 'ml-auto'
        include ../wishlist-cta

//- Compact
if productTileCompact
  .product-tile__container.product-tile--list.product-tile--compact
    each product, index in productTile
      if productTileCount == index
        - break
      +product-tile(product)

//- Slider
else if productTileSlider
  .swiper.js-product-tile-slider
    .swiper-wrapper
        each product, index in productTile
          if productTileCount == index
            - break
          .swiper-slide
            +product-tile(product)

    //- .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

//- Grid
else
  .product-tile__container.js-grid
    .row
      each product, index in productTile
        if productTileCount == index
          - break
        .product-tile__col.col-6.col-sm-4.col-lg-3
          +product-tile(product)

- var productTileCompact = null
- var productTileCount = null
- var productTileSlider = null
