.footer {
    padding: 20px 0;
    color: color(white);
    background-color: color(primary);
    font-size: rem(14);

    @include media-breakpoint-up(xl) {
        font-size: rem(16);
    }
    
    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        @include media-breakpoint-up(lg) {
            justify-content: space-between;
        }
    }
}

.footer-logo {
    max-width: 105px;
}

.footer-copy {
    display: flex;
    font-weight: $font-weight-light;
    
    &__item:not(:last-child) {
        margin-right: 15px;
    }
}

.footer-social {
    display: inline-flex;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.8em;
        height: 1.8em; 
        font-size: rem(20);
        border-radius: 50%;
        color: color(primary);
        background-color: color(white);
        text-decoration: none;
        
        @include media-breakpoint-up(lg) {
            font-size: rem(25);
        }

        @include on-event {
            color: color(primary);
            background-color: color(gray3);
        }
    }
}
