.header {
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color: color(white);
    box-shadow: 0 -8px 31px color(black, 0.2);
    z-index: z(header);

    @include media-breakpoint-up(lg) {
        padding: 20px 0;
    }

    &__content {
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {}
    }
}


.header-logo {
    position: relative;
    max-width: 105px;
    margin-right: auto;
    z-index: z(header-navbar--above);

    @include media-breakpoint-up(lg) {
        margin-right: 50px;
    }
}

.header-widhlist {
    font-size: rem(30);
    color: color(primary);
    text-decoration: none;

    @include on-event {
        color: color(primary2)
    }
}

.header-account {
    &__link {
        display: inline-block;
        font-size: rem(30);
        color: color(primary);
        line-height: 1;
        text-decoration: none;

        @include on-event {
            color: color(primary2)
        }
    }
}
