.header {
    position: sticky;
    top: 0;
    padding: 10px 0;
    background-color: color(white);
    box-shadow: 0 -8px 31px color(black, 0.2);
    z-index: z(header);

    @include media-breakpoint-up(lg) {
        padding: 20px 0;
    }

    &__content {
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {}
    }
}


.header-logo {
    max-width: 105px;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
        margin-right: 50px;
    }
}

// .header-utility {
//     @include media-breakpoint-up(lg) {
//         display: flex;
//         align-items: center;
//         margin-left: auto;
//     }

//     &__item {
//         margin-left: 15px;
//     }
// }

.header-navbar {
    @include media-breakpoint-down(md) {
        position: fixed;
        top: 0;
        right: 100%;
        bottom: 0;
        width: 100%;
        max-width: 250px;
        transform: translate3d(0, 0, 0);
        background-color: color(white);
        background-color: #eee;
        z-index: z(above);
        transition: transform 0.2s ease-in-out;
        display: none;
        
        &.opened {
            transform: translate3d(100%, 0, 0);
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &__toggle {
        padding: 0 5px;
        margin-right: 5px;
        font-size: rem(18);
        background-color: color(white);
        border: none;
    }
}

.header-widhlist {
    font-size: rem(30);
    color: color(primary);
    text-decoration: none;

    @include on-event {
        color: color(primary2)
    }
}

.header-account {
    &__link {
        display: inline-block;
        font-size: rem(30);
        color: color(primary);
        line-height: 1;
        text-decoration: none;

        @include on-event {
            color: color(primary2)
        }
    }
}
