form.filter
  input.input.input--secondary(placeholder='Пошук')
  button.button.button__primary.button--icon
    +icon('icon-search', 'button__icon')
  
  hr.mb-2
  +form_field(selectCategory)
  hr.mt-2
