form.filter
  input.input.input--secondary(placeholder='Пошук')
  button.button.button__primary.button--icon
    +icon('icon-search', 'button__icon')

br
br
select.select-custom
  option Оберіть категорію
  option option text 2
  option option text 3
  option option text 4

select.select-custom
  option Оберіть категорію
  option option text 2
  option option text 3
  option option text 4

select.select-custom.select-custom--secondary
  option Оберіть категорію
  option option text 2
  option option text 3
  option option text 4
