form.filter
  input.input.input--secondary(placeholder='Пошук')
  button.button.button__primary.button--icon
    +icon('icon-search', 'button__icon')

br
br
select.js-example-basic-single
  option Оберіть категорію
  option option text 2
  option option text 3
  option option text 4
