ul.pagination
  li.pagination__item
    a(href='#!').pagination__link.m-prev
     +icon('icon-chevron-left')
  li.pagination__item
    a(href='#!').pagination__link 1
  li.pagination__item
    a(href='#!').pagination__link 2
  li.pagination__item
    a(href='#!').pagination__link 3
  li.pagination__item
    a(href='#!').pagination__link.m-next
     +icon('icon-chevron-right')
