//- .results
.row.align-items-center.mb-2.mb-lg-3
  if isSearchPage
    .col-auto.col-lg-12.mr-auto
      .h2.mb-0.mb-lg-1=resultsTitle || '156 оголошень'
    .col.h-hidden-md-down
      include breadcrumbs
    .col-4.col-xl-3.ml-auto.h-hidden-md-down
      +formField(selectSorting)
  else
    .col-auto.mr-auto
      h2.h2.mb-0=resultsTitle || '156 оголошень'
  .col-auto
    include grid-toggle

include product/product-tile
