.results
  .row.align-items-center.mb-2.mb-lg-3
    .col-12
      .h2.mb-1 156 оголошень
    .col
      include ../components/breadcrumbs
    .col-3.ml-auto
      +formField(selectSorting)
    .col-auto
      .grid-toggle.js-grid-toggle
        button(type='button').grid-toggle__btn.m-active.js-grid-cta
          +icon('icon-table')
        button(type='button').grid-toggle__btn.js-grid-cta
          +icon('icon-list')

include ../components/product/product-tile
