.results
  .row.align-items-center.mb-2.mb-lg-3
    .col-12
      .h2.mb-1 156 оголошень
    .col
      include breadcrumbs
    .col-3.ml-auto
      +formField(selectSorting)
    .col-auto
      include grid-toggle

include product/product-tile
