.seo
  .container
    p.
      Для оптимизациии сайта необходимо писать тексты для людей, изредка вставляя ключевые запросы так, чтобы при этом читабельность текста не упала, а даже наоборот, интересовала еще больше.
      Заголовок текста в теге Н1 должен содержать самый частотный ключевой запрос. Например правильно - «Женская одежда». Неправильно – «Купить женскую одежду в Киеве».
      Выделять тегом strong ключевые слова можно, но делать это необходимо для позитивного восприятия текста, не более трех раз на текст объемом 3000 символов.
      Размер текста в символах в идеале должен быть от 2000 символов без пробелов.
      Нет смысла использовать ключевые слова, которые не подтверждаются товарами на сайте или услугами. Не пишите о том, чего пользователь не сможет найти на целевой странице.
