.label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: rem(16);
}

.form-field {
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    * {
        flex: 1 1 0;
    }

    .label {
        flex: 0 1 auto;
        margin-bottom: 0;
    }
}
