select.input__ {
    line-height: 1em;
    text-indent: 0.01px;
    text-overflow: '';
    // appearance: none!important;
    // background: #efefef url(/img/arrow_down.png) 95% 50% no-repeat;
    // &::-ms-expand {
    //     display: none
    // }
}

.select-custom {
    width: 100%;
    height: 45px;
    max-width: 100%;
    padding: 0 20px;
    font-size: rem(16);
    border-radius: 0;
    color: color(text);
    background-color: color(white);
    border: 1px solid color(border);

    @include on-event(focus) {
        border-color: color(gray5);
    }

    &[disabled] {
        color: color(disabled);
        opacity: 1;
    }

    &--secondary {
        border-color: transparent;

        @include on-event(focus) {
            border-color: transparent;
        }
    }

    &--small {
        height: 35px;
        font-size: rem(14);
    }
}
