// https: //tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
.upload-file {
    width: 135px;
    // width: 100%;
    height: 135px;

    &__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__label {
        display: flex;
        flex-direction: column;
        height: 100%;

        .icon {
            font-size: rem(30);
            width: 100%;
            height: 100%;
        }
    }
}
