
$font_primary: 'Roboto', sans-serif !default;

$min-width: 320px;

// https://kovart.github.io/dashed-border-generator/
// https://select2.org/configuration/options-api


// html example for SVG <svg class='icon'><use xlink:href='app/img/icons.svg#icon-id'></use></svg>

$z-layers: (
    // common
    below: -1,
    zero: 0,
    auto: auto,
    above: 1,
    // components
    header: 10,
    header-navbar: 1,
    header-navbar--above: 2,
    filter-navbar: 12,
    filter-navbar--backdrop: 11,
    select2-dropdown: 1051,
    // select2-dropdown: 9,
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
) !default;

$special-breakpoints: (
    xs: map-get($grid-breakpoints, xs), // xs: 0,
    // sm: map-get($grid-breakpoints, sm),  // sm: 576px,
    md: map-get($grid-breakpoints, md), // md: 768px,
    lg: map-get($grid-breakpoints, lg), // lg: 1024px,
    // xl: map-get($grid-breakpoints, xl)   // xl: 1440px
) !default;

$grid-gutter-widths: (
    xs: 10px,
    lg: 20px
) !default;


$grid-gutter-width-xs: map-get($grid-gutter-widths, xs) !default;
// $grid-gutter-width-sm: $grid-gutter-width-xs !default;
// $grid-gutter-width-md: map-get($grid-gutter-widths, md) !default;
$grid-gutter-width-lg: map-get($grid-gutter-widths, lg) !default;

$container-max-widths: (
    // sm: 540px,
    // md: 720px,
    // lg: 960px,
    // xl: 1140px
    xl: 1440px
) !default;

$spacer: 20px !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25), // 5
        2: ($spacer * .5),  // 10
        3: $spacer,         // 20
        4: ($spacer * 1.5), // 30
        5: ($spacer * 3)    // 60
    ),
    $spacers
);

$sizes: () !default;
$sizes: map-merge((
    auto: auto,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%
), $sizes);

$displays:
    none,
    inline,
    inline-block,
    block,
    table,
    table-row,
    table-cell,
    flex,
    inline-flex
    !default;

// Grid columns
$grid-columns: 12 !default;
// $grid-gutter-width: 20px !default;
$grid-row-columns: 6 !default;
$enable-grid-classes: true !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: $font-weight-medium !default;

$line-height-base: 1.2 !default;
$font-size-base: rem(16) !default;





$icon-chevron-right-body: "%3E%3Cpath d='M0.726563 7.06L3.7799 4L0.726563 0.94L1.66656 -2.38419e-07L5.66656 4L1.66656 8L0.726563 7.06Z'/%3E";
$icon-chevron-right: icon($viewbox: "0 0 6 8", $body: $icon-chevron-right-body);
