
$font_primary: 'Roboto', sans-serif !default;

$min-width: 320px;

// https://material-ui.com/ru/customization/color/
// https: //kovart.github.io/dashed-border-generator/

// html example for SVG <svg class='icon'><use xlink:href='app/img/icons.svg#icon-id'></use></svg>

$blue-500: #2f4858 !default; // primary
$blue-400: #406a85 !default; // hover
$blue-300: #537992 !default; // light
$blue-200: #75aed6 !default; // tag border
$blue-100: #dceaf3 !default; // white hover

$green-400: #486c0c !default; // focused
$green-300: #6fa21a !default; // hover
$green-200: #8dc334 !default; // secondary
$green-100: #cee8a3 !default; // unable

$red: #ce5d4e !default;

$gray-500: #949597 !default;
$gray-400: #d4d5d6 !default; // border
$gray-300: #dadada !default;
$gray-200: #ededed !default;
$gray-100: #f5f5f5 !default;

$dark: #132c3d !default;

$black: #000 !default;
$white: #fff !default;

$colors: (
    // == common
    primary: $blue-500, // #2f4858
    primary2: $blue-400, // #406a85
    primary3: $blue-300, // #537992
    primary4: $blue-200, // #75aed6
    secondary: $green-200, // #8dc334
    secondary2: $green-300, // #6fa21a
    secondary3: $green-400, // #486c0c
    secondary4: $green-100, // #cee8a3
    dark: $dark,
    light: $blue-100, // #dceaf3
    white: $white,
    black: $black,
    // == component
    body-bg: $gray-100,
    text: $dark,
    link: $green-200,
    link-hover: $green-300,
    border: $gray-400,
    border-light: $gray-200,
    border-tag: $blue-200, // #75aed6
    success: $green-400,
    success-bg: $green-100,
    danger: $red, // #ce5d4e
    disabled: $gray-400,
    disabled-bg: $gray-100,
    // == gray
    gray5: $gray-500, // #949597
    gray4: $gray-400, // #d4d5d6
    gray3: $gray-300, // #dadada
    gray2: $gray-200, // #ededed
    gray1: $gray-100, // #f5f5f5
) !default;

$z-layers: (
    // common
    below: -1,
    zero: 0,
    auto: auto,
    above: 1,
    // components
    header: 10,
    header-navbar: 1,
    header-navbar--above: 2
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1440px
) !default;

$grid-gutter-widths: (
    xs: 10px,
    lg: 20px
) !default;

$special-breakpoints: (xs: map-get($grid-breakpoints, xs), // xs: 0,
    // sm: map-get($grid-breakpoints, sm),  // sm: 576px,
    md: map-get($grid-breakpoints, md), // md: 768px,
    lg: map-get($grid-breakpoints, lg), // lg: 1024px,
    // xl: map-get($grid-breakpoints, xl)   // xl: 1440px
) !default;

$grid-gutter-width-xs: map-get($grid-gutter-widths, xs) !default;
// $grid-gutter-width-sm: $grid-gutter-width-xs !default;
// $grid-gutter-width-md: map-get($grid-gutter-widths, md) !default;
$grid-gutter-width-lg: map-get($grid-gutter-widths, lg) !default;

$container-max-widths: (
    // sm: 540px,
    // md: 720px,
    // lg: 960px,
    // xl: 1140px
    xl: 1440px
) !default;

$spacer: 20px !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25), // 5
        2: ($spacer * .5),  // 10
        3: $spacer,         // 20
        4: ($spacer * 1.5), // 30
        5: ($spacer * 3)    // 60
    ),
    $spacers
);

$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);

$displays:
    none,
    inline,
    inline-block,
    block,
    table,
    table-row,
    table-cell,
    flex,
    inline-flex
    !default;

// Grid columns
$grid-columns: 12 !default;
// $grid-gutter-width: 20px !default;
$grid-row-columns: 6 !default;
$enable-grid-classes: true !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
