
$font_primary: 'Roboto', sans-serif !default;

$min-width: 320px;

// https://material-ui.com/ru/customization/color/

// html example for SVG <svg class='icon'><use xlink:href='app/img/icons.svg#icon-id'></use></svg>

$blue-500: #2f4858 !default; // primary
$blue-400: #406a85 !default; // hover
$blue-300: #537992 !default; // light
$blue-200: #75aed6 !default; // tag border
$blue-100: #dceaf3 !default; // white hover

$green-400: #486c0c !default; // focused
$green-300: #6fa21a !default; // hover
$green-200: #8dc334 !default; // secondary
$green-100: #cee8a3 !default; // unable

$gray-500: #949597 !default;
$gray-400: #d4d5d6 !default; // border +
$gray-300: #dadada !default;
$gray-200: #ededed !default;
$gray-100: #f5f5f5 !default;

$dark: #132c3d !default;

$black: #000 !default;
$white: #fff !default;




$colors: (
    // == common
    primary1: $blue-500,
    primary2: $blue-400,
    primary3: $blue-300,
    secondary1: $green-200,
    secondary2: $green-300,
    secondary3: $green-400,
    secondary4: $green-100,
    dark: $dark,
    light: $blue-100,
    white: $white,
    black: $black,
    // == component
    text: $dark,
    border: $gray-400,
    border-tag: $blue-200,
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
) !default;

$container-max-widths: (
    // sm: 540px,
    // md: 720px,
    // lg: 960px,
    xl: 1140px
) !default;

$spacer: 20px !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3)
    ),
    $spacers
);

$sizes: () !default;
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);

$displays:
    none,
    inline,
    inline-block,
    block,
    table,
    table-row,
    table-cell,
    flex,
    inline-flex
    !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;
$grid-row-columns: 6 !default;
$enable-grid-classes: true !default;
